<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Deploy app to dev from git push">
	<meta name="author" content="iqrok">
	<title><%= __site_title.main %></title>
	<!-- Favicon -->
	<link href="<%- __siteurl -%>/img/brand/logo/favicon.png" rel="icon" type="image/png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

	<!-- bootstrap -->
	<link href="<%- __siteurl -%>/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="<%- __siteurl -%>/vendor/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">
	<link href="<%- __siteurl -%>/vendor/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet">
	<link href="<%- __siteurl -%>/vendor/toast/toast.min.css" rel="stylesheet">

	<!-- Icons -->
	<link href="<%- __siteurl -%>/vendor/nucleo/css/nucleo.css" rel="stylesheet">
	<link href="<%- __siteurl -%>/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

	<!-- select2 CSS -->
	<link type="text/css" href="<%- __siteurl %>/vendor/select2/dist/css/select2.min.css" rel="stylesheet">
	<link type="text/css" href="<%- __siteurl %>/vendor/select2/dist/css/select2.bootstrap.css" rel="stylesheet">

	<!-- Argon CSS -->
	<link type="text/css" href="<%- __siteurl -%>/css/argon.min.css?v=1.0.0" rel="stylesheet">
	<link type="text/css" href="<%- __siteurl -%>/css/addition.css?v=1.0.1" rel="stylesheet">

	<!-- flatpickr -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

	<!-- Datatables-->
	<link type="text/css" href="<%- __siteurl -%>/vendor/datatables/datatables.min.css?v=1.0.0" rel="stylesheet">

	<!-- chart.js -->
	<link rel="stylesheet" type="text/css" href="<%- __siteurl -%>/vendor/chart.js/dist/Chart.min.css"/>

	<!-- highcharts -->
	<link rel="stylesheet" type="text/css" href="<%- __siteurl -%>/vendor/highcharts/css/custom.css"/>

</head>
  <%- body %>
</html>
